#outer{
	background-color: #0000cc;
	height: 600px;
	width: 1000px;
	margin: 0px auto;
}

#in11{
	height: 80px;
	width: 1000px;
	margin-top: 10px;
	font-family: "Comic Sans MS", cursive, sans-serif;
	background-color: gray;
}

#in11 h1{
	padding-top: 15px;
	padding-left: 320px;
}

#in12{
	height: 348px;
	width: 1000px;
	margin-top: 10px;
	margin-bottom: 10px;
}

#in121{
	height: 348px;
	width: 500px;
	float: left;
	background-color: white;
}

#in122{
	height: 348px;
	width: 500px;
	float: left;
	background-color: black;
}

#in12 img{
	padding-left: 100px;
}

#in13{
	height: 300px;
	width: 1000px;
	margin-top: 10px;
	margin-bottom: 10px;
}

#in131{
	float: left;
	height: 300px;
	width: 490px;
	background-color: black;
	color: #ff3385;
	padding-left: 5px;
	padding-right: 5px;
}

#in132{
	float: left;
	height: 300px;
	width: 490px;
	background-color: white;
	color: #ff3385;
}